html {
    background: #eee;
}

div .form-container {
    background-color: #d3d3d3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    margin: 5% auto 0;
    padding: 2%;
    width: 50em;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
}

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.computers em {
    color: #aaa;
}

table.computers .col3, table.computers .col4 {
    width: 10%;
    min-width: 100px;
}

table.computers .col5 {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}


.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    margin-top:-10px;
    margin-bottom:20px;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


  body {
    min-height:100%;
  }
  .sidebar-nav {
    padding: 9px 0;
  }


input, textarea {
    width: 95%;
}

/* IE10 Consumer Preview */
body {background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D1AEEF 100%);}

/* Mozilla Firefox */
body {
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #5D9659 100%);
}

div .form-container {
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #0A3B07 200%);
}

/* Opera */
body {background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D1AEEF 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #D1AEEF));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D1AEEF 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to top, #FFFFFF 0%, #D1AEEF 100%);