@(id:Option[Long], tastingForm: Form[models.Tasting])(implicit session:Session)

@import helper.twitterBootstrap._
@import tags._


@main {

<div class="page-header">
    <h2>Wine Tasting
    </h2>
</div>

<div class="row-fluid">
    <div class="span4">
        @helper.form(if(id == None) routes.EditTasting.saveNew() else routes.EditTasting.update(id.get), 'id ->
        "tasting-form", 'enctype -> "multipart/form-data") {
        <div class="form-container" style="max-width:350px;min-width:150px;margin-top:0px">
            <div class="control-group">
                <div class="controls">
                    @rating(None, tastingForm("rating").value.getOrElse("0"), Some("Rating"))
                </div>
            </div>
            <fieldset>
                @helper.inputText(tastingForm("brand"), '_showConstraints -> false,'_label -> "",'placeholder->"Brand")
                @helper.inputText(tastingForm("style"), '_showConstraints -> false,'_label -> "",'placeholder->"Style")
                @helper.inputText(tastingForm("region"), '_showConstraints -> false,'_label ->
                "",'placeholder->"Region")
                @helper.inputText(tastingForm("year"), '_showConstraints -> false,'_label -> "",'placeholder->"Year")
                @helper.textarea(tastingForm("notes"), '_showConstraints -> false,'_label -> "",'placeholder->"Notes")
            </fieldset>
            <div class="row-fluid">
                <div class="row-fluid">
                    <a href="#" class="btn btn-primary" onclick="document.forms['tasting-form'].submit()">Save</a>
                    @if(id !=None) {
                    <a href="#" class="btn btn-warning"
                       onclick="document.forms['deleteForm'].submit(); return false;">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="span8">
        <div style="margin-top:0px">
            <div class="row-fluid">
                <input type="file" name="image"/>
            </div>
            <div class="row-fluid" >
            <img id="tasting-image" style="border:solid; border-width:2px;border-color:gray;" class="img-rounded"
            @if(id==None) {src="/assets/images/notavailable.jpeg"
            } else {src="@Image.assetLoc(session.get(User.USER_ID).get, id.get.toString)" } alt="">
            </div>
        </div>
    </div>
    }
    @if(id != None) {
    @helper.form(routes.EditTasting.delete(id.get), 'id -> "deleteForm") {
    }
    }
</div>

}