@(loginform: Form[(String,String)])(implicit flash: Flash, session:Session)

@import helper.twitterBootstrap._


@index {
@loginform.globalError.map { error =>
<div class="alert pagination-centered">
    @error.message
</div>
}

<div class="row-fluid">
    <div class="pagination-centered"><h2>Login</h2></div>
</div>
<div class="row-fluid">
    <div class="form-container login-form" style="width:20em; margin-top:10px;padding-bottom:10px;">
        @helper.form(routes.Application.authenticate) {
        @helper.inputText(loginform("email"), '_showConstraints -> false,'_label -> "",'placeholder->"Email")
        @helper.inputPassword(loginform("password"),'_showConstraints -> false, '_label -> "",'placeholder->"Password")
        <div class="control-group">
            <div class="controls" >
                <button  type="submit" class="btn primary">Login</button>
            </div>
        </div>
        }
        <h4>New users please <a href="/register">Register</a></h4>
    </div>

</div>

}