@(registerform: Form[(Option[String],String, String, String)])(implicit flash: Flash, session:Session)

@import helper.twitterBootstrap._

@index {

@registerform.globalError.map { error =>
<div class="alert pagination-centered"> @error.message</div> }

<div class="row-fluid">
    <div class="pagination-centered">
        <h2>Register</h2>
    </div>
</div>

<div class="row-fluid">

    <div class="form-container " style="width:20em; margin-top:0px;padding-bottom:10px;">
        @helper.form(routes.Application.createUser) {
        @helper.inputText(registerform("email"), '_showConstraints -> false,'_label -> "",'placeholder->"Email")
        @helper.inputPassword(registerform("password"),'_showConstraints -> false, '_label -> "",'placeholder->"Password")
        @helper.inputPassword(registerform("password2"),'_showConstraints -> false, '_label -> "",'placeholder->"Password Again")
        @helper.inputText(registerform("username"),'_showConstraints -> true, '_label -> "",'placeholder->"User Alias (optional)")
        <button type="submit" class="btn primary">Register</button>
        }
        <h4>Existing users please <a href="/">Login</a></h4>
    </div>
</div>

</div>
</div>
</div>
}