@(tastings: Seq[Tasting])(implicit session:Session)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

<script type="text/javascript">
    $(document).ready(function() {
        $('#modal-from-dom').modal({
            keyboard: true
        });
        $('#starEdit').raty({
          click: function(score, evt) {
            $('input#rating').val(score);
          }
        });

    });


</script>

<div class="page-header">
    <h1>Tasting Log
    </h1>

</div>

<div class="row">
    <div class="span11">
        <div align="right">
            <a href="/tasting" role="button" class="btn" data-toggle="modal">New Tasting</a>
        </div>
        <p/>

        <table class="table blue zebra-striped">
            <tr>
                <th>Brand/Winery</th>
                <th>Grape/Varietal</th>
                <th>Year</th>
                <th>Origin</th>
                <th>Rating</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @tastings.map { tasting =>
            <script type="text/javascript">
               $(document).ready(function() {
                $('#rating@tasting.id').raty({
                    readOnly: true,
                      start:  @tasting.rating
                });
                });
            </script>
            <tr>
                <td id="brand@tasting.id">@tasting.brand</td>
                <td id="style@tasting.id">@tasting.style</td>
                <td id="year@tasting.id">@tasting.year</td>
                <td id="region@tasting.id">@tasting.region</td>
                <td ><div id="rating@tasting.id"></div></td>
                <td>
                    <a href="/tasting/@tasting.id" role="button" class="btn" ">E</a>
                </td>
                <td>
                    <input type="submit" value="D" class="btn danger" onclick="location.href='tasting/@tasting.id/delete'">
                </td>
                <div id="notesFull@tasting.id" style="visibility:hidden">@tasting.notes</div>
                <div id="ratingValue@tasting.id" style="visibility:hidden">@tasting.rating</div>
            </tr>
            }
        </table>

    </div>
    <div class="span4 visible-desktop">
        <h3>Trending Wines</h3>
        <ul>
            <li><a href="#">Raboll 2009 Pint Blanc</a></li>
            <li><a href="#">Saxum 2007 Cabernet</a></li>
            <li><a href="#">Paul Hobbs 2011 Chardonney</a></li>
            <li><a href="#">Fontodi 2011 Cabernet</a></li>
        </ul>
        <h3>Recent Member Activity</h3>
        <ul>
            <li><a href="#">Sutter Home 2011 Cabernet 4 Stars </a></li>
            <li><a href="#">Saxum 2007 Cabernet 3 Stars </a></li>
            <li><a href="#">Paul Hobbs 2011 Chardonney 3 Stars </a></li>
            <li><a href="#">Fontodi 2011 Cabernet 4 Stars </a></li>
        </ul>
    </div>

</div>

}